<!-- 
<div id="chart-container">
  <canvas id="main-chart" baseChart #mainChart
    [datasets]="datasets"
    chartType="bar"
    [labels]="labels"
    [options]="chartOptions">
  </canvas>
  <div class="source-files">
    <li class="list-group">
      <ul class="list-group-item active">JAVA Source files - NCLOC</ul>
      <ul class="list-group-item" *ngFor="let file of sourceFiles">{{ file.name }}<span class="badge-pill float-right" [ngClass]="(file.ncloc > 2) ? 'badge-danger' : 'badge-dark'" >{{ file.ncloc || '...' }}</span></ul>
    </li>
    <p>Total NCLOC Calculated: {{ ncLocCalc }}</p>
  </div>
</div> -->