<h2>Project details</h2>
<div *ngIf="project" class="card shadow-sm">
  <div class="card-header">
    {{ project.name }} (Last analysis: <span style="text-decoration: underline">{{ projectDetails.lastAnalysisDate | date: 'yyyy-MM-dd hh:mm a' }}</span>)
    <div class="float-right"><button class="btn btn-primary" (click)="showMetrics()">Get metrics</button></div>
  </div>
  <div class="card-body">
    <div *ngIf="analysed">
      <ul class="list-group">
        <li class="list-group-item active">Metrics:</li>
        <li class="list-group-item" *ngFor="let metric of (projectDetails.projectMetrics | keyvalue)">
          {{ metric.key }} <span class="badge badge-pill badge-dark float-right">{{ metric.value }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
