
@import '../src/app/styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

button.btn {
  &.prevent {
    &:hover {
      background-color: $warning;
    }
  }
}
